.app-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.round-selection {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 70vh;
  justify-content: space-evenly;
}

.bug {
  font-size: 60px;
  margin-bottom: 5px;
}
.code_assist{
  color: rgb(0, 255, 166);
}
button {
  background-color:black;
  color: white;
  border: 2px solid rgb(0, 255, 166);
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 20px;
}
button:hover{
  transform: scale(1.1);
  background-color: rgb(0, 255, 166);
  color: black;
}

.main-content {
  display: flex;
  width: 1528px;
  height: 100vh;
}

.question-list {
  flex: 0 0 30%; /* 30% of the width */
  border-right: 2px solid #ccc;
  padding: 20px;
}

.question-list h2 {
  margin-bottom: 20px;
}

.code-section {
  flex: 1;
  padding: 20px;
}

.timer {
  font-size: 20px;
  margin-bottom: 20px;
}

.code-snippet {
  background-color: #333;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.submit-button {
  padding: 10px 20px;
  border: 2px solid rgb(0, 255, 115);
  cursor: pointer;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.rules-popup {
  text-align: center;
  border: 1px solid grey;
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 1px 1px 10px gray;
}

.rules-popup button {
  width: 120px;
}

.lang {
  width: 90px;
  padding-left: 20px;
  margin-left: 20px;
  height: 25px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
}